{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="twelve columns">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id massa ligula. Suspendisse vitae porttitor ex. Duis dui velit, maximus quis maximus faucibus, rhoncus sed nibh. Quisque non mollis turpis, vitae interdum justo. Cras iaculis scelerisque ante non condimentum. Quisque imperdiet, erat in scelerisque ultricies, risus erat luctus libero, id sodales turpis nulla a neque. Aenean sit amet arcu rutrum, ultricies turpis eu, semper tellus. Sed faucibus erat non dui aliquam, vel pellentesque ipsum consequat. Vivamus id libero metus. Quisque vel ipsum faucibus neque dictum hendrerit. Integer sapien orci, maximus et velit ac, porttitor ornare mi. Sed convallis fermentum aliquam. Sed eu porttitor sapien, vel cursus tortor. Fusce nibh mi, hendrerit sed ornare vel, porttitor at lectus.</p>

        <p>Suspendisse id diam urna. Mauris nec quam quis turpis tempus porttitor eget vel quam. Praesent tristique, mauris quis sollicitudin aliquet, sapien leo vestibulum est, ut dictum mauris mi ut tortor. Vivamus lorem orci, molestie et aliquam eu, faucibus sit amet est. Cras euismod aliquet ex, vel pellentesque urna tempor eu. Pellentesque ipsum lectus, aliquam at imperdiet facilisis, sodales ac lorem. Donec eu imperdiet magna, eget posuere mi. Morbi ornare eros nec leo ultrices, id pretium nulla luctus. In ultrices purus in lacus sagittis, ullamcorper maximus lectus laoreet. Sed est odio, viverra a tortor ultrices, pretium auctor sapien. Proin convallis eleifend orci vitae tincidunt. Maecenas quam nisl, consequat vitae rutrum sit amet, dictum et est. Aliquam aliquet finibus eros, ut imperdiet elit commodo in. Suspendisse libero dolor, egestas vel eros et, imperdiet maximus erat. Praesent eu sem id est gravida gravida. Nam massa metus, finibus eu semper id, euismod sed libero.</p> 
    </div>
</div> 
{% endblock %}
