{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="twelve columns">
            <h2>Add</h2> 
        </div> 
    </div> 
    <div class="row">
        <div class="twelve columns">
            <form>
                <ul>
                    <li class="field">
                    <input class="input" type="text" placeholder="Riddle Title" />
                    </li>
                    <li class="field">
                    <textarea class="input textarea" placeholder="Riddle"></textarea>
                    </li>
                    <li class="field">
                    <textarea class="input textarea" placeholder="Answer"></textarea>
                    </li>
                    <li class="field">
                    <button class="medium primary btn">save</button>  
                    </li>
                </ul>
            </form>
        </div> 
    </div>
{% endblock %}
